@media (min-width: 768px) {
}

@media (max-width: 479px) {
}

.teaserGif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }
  
  .downloadBody {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .teaserQRCode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
  .apkdownload {
    background-color: #f13059;
    color: white;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .sloganText {
    text-align: center;
  }
  
  .releaseDateText {
    text-align: center;
  }
  
  .suggestionsList {
    display: block;
  }
  
  .screenshotsHeader {
    text-align: center;
  }
  .teaserVideo  {
    justify-content: center;
    text-align: center;
  }
  
  .screenshotsGrid  {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .screenshotChild {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 500;
    width: 250;
  }